@font-face {
  font-family: "Source Code Pro";
  src: url("../../static/fonts/sourceCodePro/SourceCodePro-Black.woff2")
      format("woff2"),
    url("../../static/fonts/sourceCodePro/SourceCodePro-Black.woff")
      format("woff");
}

@font-face {
  font-family: "Martel Sans";
  src: url("../../static/fonts/martelSans/MartelSans-Black.woff2")
      format("woff2"),
    url("../../static/fonts/martelSans/MartelSans-Black.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../../static/fonts/roboto/Roboto-Black.woff2") format("woff2"),
    url("../../static/fonts/roboto/Roboto-Black.woff") format("woff");
}
