.aboutImage {
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    margin: 1rem;

}

.sectionContainer {
    margin: 1rem;
}