.bottomnav-container {
  @media (max-width: 600px) {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 9;
    height: 100px;
    background-color: #fbfbfb;
    border-color: #eee;
    border-top-width: 1px;
    border-top-style: solid;
  }

  @media (min-width: 600px) {
    display: none;
  }
}
