footer {
  background-color: rgba(7, 30, 61, 1);
  padding: 1.5rem 0 1.5rem 0;
  color: rgba(153, 153, 153, 1);
  font-size: 0.83333rem;

  .container {
    padding-right: 1.05rem;
    padding-left: 1.05rem;
    display: grid;
    grid-template-rows: 40% 40% auto;
    justify-content: center;
  }

  a {
    color: rgba(153, 153, 153, 1);
  }

  .iconsContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 1.05rem 0;
    align-items: center;
    justify-items: center;
  }

  .linksContainer {
    margin: 1.05rem 0;
  }

  .separator {
    margin: 0 0.5rem;
  }

  .copyright {
    margin: 1.05rem 0;
    text-align: center;
  }
  .icons {
    fill: rgba(153, 153, 153, 1);

    &:hover {
      fill: rgba(153, 153, 153, 0.75);
      cursor: pointer;
    }
  }
}
