footer {
  background-color: fbfbfb;
  padding: 1.5rem 0 1.5rem 0;
  color: #48434f;
  font-size: 0.83333rem;
  border-color: #eee;
  border-top-width: 1px;
  border-top-style: solid;

  .container {
    padding-right: 1.05rem;
    padding-left: 1.05rem;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
  }

  a {
    color: #48434f;
  }

  .iconsContainer {
    display: block;
    text-align: center;

    ul {
      list-style-type: none;
    }

    li {
      display: inline-block;
      margin: 1rem;
      cursor: pointer;
    }
  }

  .linksContainer {
    margin: 1.05rem 0;
  }

  .separator {
    margin: 0 0.5rem;
  }

  .withBar::after {
    color: #b7b5bd;
    content: "|";
    padding: 0.75rem;
  }

  .copyright {
    margin: 1.05rem 0;
    text-align: center;
  }

  .icons {
    fill: rgba(153, 153, 153, 1);

    &:hover {
      fill: rgba(153, 153, 153, 0.75);
      cursor: pointer;
    }
  }
}