@import url("../../static/fonts/sourceCodePro/stylesheet.css");
@import url("../../static/fonts/martel/stylesheet.css");
@import url("../../static/fonts/martelSans/stylesheet.css");

body {
  margin: 0;
  background: #fbfbfbff;
  font-family: "Martel Sans"
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: "Martel";
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

article {
  height: 90%;

  &:hover {
    box-shadow: 0px 11px 22px 12px #eee;
    border-radius: 5px;
  }
}
